@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://www.whizkidz.com.au/wp-content/uploads/2021/09/Whiz-Kidz-Logo_600x260-320x139.png" /> <br />
        <img style="border-radius: 15%; object-fit:cover; padding:20px;" src="https://d1z3744m6z2h75.cloudfront.net/aws/fs/755/4524755_PDatlTIYlBrTTJWqrI_o_uyDuPp0Le_u7Y5YiSprwzB-tcgi7jclXcCQ64L-5Vm4NJq1l8QLSsVWnXEx6Yu3UA...JPG" />
</div>
